<md-content flex class="md-padding" style="min-height:650px;" ng-conroller="DownloadsController">
    <div layout="column" layout-fill layout-align="top center">
        <div>
            <!--<md-button ng-click="toggleLeft()" class="md-primary" >-->
                <!--Menu-->
            <!--</md-button>-->
            <md-button ng-click="toggleLeftDownloads()" class="menu" >
                <md-icon md-svg-icon="menu" ></md-icon>
                <md-tooltip>
                    Data Coverage Areas
                </md-tooltip>
            </md-button>
        </div>
        <p>
            Downloads
        </p>

        <div>
            <!--<md-button ng-click="toggleRight()"-->
            <!--class="md-primary">-->
            <!--Toggle right-->
            <!--</md-button>-->
        </div>
    </div>
    <div flex></div>
</md-content>