<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftDownloads" md-is-open>

    <md-content class="md-padding md-default-theme" flex role="navigation" >
        <!--<div class="bottom-sheet-demo inset" layout="column" layout-sm="row" layout-align="left">-->
            <!--<md-button class="md-primary" flex="" layout="row" aria-expanded="true" >-->
                <!--Population-->
            <!--</md-button>-->

            <!--<md-button class="md-primary" flex="" layout="row" aria-expanded="true" >-->
                <!--Health facilities-->
            <!--</md-button>-->

            <!--<md-button class="md-primary" flex="" layout="row" aria-expanded="true" >-->
                <!--Human Resources-->
            <!--</md-button>-->


            <!--<md-button class="md-primary" flex="" layout="row" aria-expanded="true" >-->
                <!--District Health Profile-->
            <!--</md-button>-->


        <!--</div>-->
    </md-content>
</md-sidenav>