<md-content  class="md-padding" style="min-height:650px;" ng-conroller="AnalysisController">
    <!--<div layout="row" layout-fill >-->

        Analysis

        <!--<div layout="row" layout-margin >-->
            <!--<div flex="2" flex-order="1">-->
                <!--<label>Facility Type</label></br>-->
                <!--<md-select placeholder="Select Facility" multiple ng-model="healthFacility">-->
                    <!--<md-option value="1">All</md-option>-->
                    <!--<md-option value="2" >Faith Based Facility</md-option>-->
                    <!--<md-option value="3" >Parastatal</md-option>-->
                    <!--<md-option value="4" >Private</md-option>-->
                <!--</md-select>-->
            <!--</div>-->
            <!--<div flex="2" flex-order="2">-->
                <!--<label>Organisation Unit</label></br>-->
                <!--<md-select placeholder="Pick" ng-model="someVal">-->
                    <!--<md-option value="1">One</md-option>-->
                    <!--<md-option value="2" ng-selected="selected" ng-disabled="disabled">Two</md-option>-->
                <!--</md-select>-->
            <!--</div>-->
            <!--<div flex="2" flex-order="3">-->

                <!--<md-select placeholder="Pick" ng-model="someVal">-->
                    <!--<md-option value="1">One</md-option>-->
                    <!--<md-option value="2" ng-selected="selected" ng-disabled="disabled">Two</md-option>-->
                <!--</md-select>-->
            <!--</div>-->
            <!--<div flex="2" flex-order="4">-->

                <!--<md-select placeholder="Pick" ng-model="someVal">-->
                    <!--<md-option value="1">One</md-option>-->
                    <!--<md-option value="2" ng-selected="selected" ng-disabled="disabled">Two</md-option>-->
                <!--</md-select>-->
            <!--</div>-->
            <!--<div flex="2" flex-order="5">-->

                <!--<md-select placeholder="Pick" ng-model="someVal">-->
                    <!--<md-option value="1">One</md-option>-->
                    <!--<md-option value="2" ng-selected="selected" ng-disabled="disabled">Two</md-option>-->
                <!--</md-select>-->
            <!--</div>-->

        <!--</div>-->

</md-content>