<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Web Portal - HMIS </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>-->
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <link rel="stylesheet" href="assets/css/font-awesome.css"/>
    <link rel="stylesheet" href="assets/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <!--<link rel="stylesheet" href="assets/css/"/>-->

</head>

<body ng-app="portalApp" layout="column" ng-controller="portalController">

<md-toolbar layout="row">
    <h1>{{ Application }}</h1>
</md-toolbar>

<div flex layout="row" >
        <md-tabs class="md-primary" md-selected="selectedIndex" flex >
            <md-tab ng-repeat="tab in tabs"
                    ng-disabled="tab.disabled"
                    label="{{tab.title}}">
                <md-content  class="md-padding" style="min-height:550px;">
                    <ng-include src="tab.dataDiv"></ng-include>
                </md-content>
                <md-sidenav ng-if="tab.title=='Dashboard'" class="md-sidenav-right md-whiteframe-z2" md-component-id="right"  >
                    <md-content class="md-padding" >
                        <ng-include src="tab.rightNav"></ng-include>
                    </md-content>
                </md-sidenav>
            </md-tab>
        </md-tabs>
</div>


<script src='js/angular.js'></script>
<script src='js/angular-animate.min.js'></script>
<script src='js/angular-aria.min.js'></script>
<script src='js/angular-messages.min.js'></script>
<script src='js/angular-route.min.js'></script>
<script src='js/ui-bootstrap-tpls-0.12.0.min.js'></script>
<script src='js/jquery.js'></script>
<script src='js/highcharts.js'></script>
<script src='js/highcharts-more.js'></script>
<script src='js/highcharts-ng.js'></script>
<script src="js/data.js"></script>
<script src="js/jquery.highchartTable-min.js"></script>
<script src="js/exporting.js"></script>
<!--<script src='js/docs-demo-scripts.js'></script>-->
<script src='js/docs.js'></script>





<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>


<script src="./assets/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="./assets/js/docs-demo-scripts.js"></script>

<script src="./assets/js/jquery.js"></script>
<script src="./assets/js/jquery-1.11.1.min.js"></script>
<script src="./assets/js/jquery-ui.js"></script>

<script src="./assets/js/highcharts.js"></script>
<script src="./assets/js/highcharts-more.js"></script>
<script src="./assets/js/highcharts-ng.js"></script>


<script src="./src/Dashboard/Dashboard.js"></script>
<script src="./src/Dashboard/DashboardController.js"></script>
<script src="./src/Dashboard/DashboardService.js"></script>


<script src="./src/analysis/Analysis.js"></script>
<script src="./src/analysis/AnalysisController.js"></script>
<script src="./src/analysis/AnalysisService.js"></script>


<script src="./src/coverage/Coverages.js"></script>
<script src="./src/coverage/CoverageController.js"></script>
<script src="./src/coverage/CoverageService.js"></script>


<script src="./src/downloads/Downloads.js"></script>
<script src="./src/downloads/DownloadController.js"></script>
<script src="./src/downloads/DownloadService.js"></script>
<script src="./src/portalApp.js"></script>



</body>
</html>